= simple_form_for [@company,@user] do |f|

  = f.hidden_field :company_id ,input_html:{ value: @company.id }

  .container
    .card{style:"padding:20px"}
      .row

        .col-12.mb-3
          = f.input :name

        .col-12.mb-3
          = f.input :email

        .col-12.mb-3
          = f.input :gender

        .col-12.mb-3
          = f.input :document_number

        .col-12.mb-3
          = f.input :birthdate, as: :date, html5: true

        .col-12.mb-3
          = f.input :password

        .col-12.mb-3
          = f.input :password_confirmation

        .col-12.mb-3 
          = f.submit class: 'btn btn-primary'
    
    
    
