= page_title "Empresas"


.container
  .row.mt-4
    .col-12.card.bg-light
      .card-header
        .d-flex.justify-content-between
          %div
            Usuários
          %div
            = link_to "Criar Usuario", new_company_user_path(@company), class: "btn btn-primary"
      .card-body

        = render partial: 'companies/users/table', locals:{users: @company.users}
    .col-12.mt-4.card.bg-light
      .card-header
        .d-flex.justify-content-between
          %div
            Produtos
          %div
            = link_to "Criar Produto", new_company_product_path(@company), class: "btn btn-primary"
      .card-body
        = turbo_frame_tag :products, src: company_products_path(@company), load: :lazying do
          .spinner-border
            .visually-hidden
              Loading..