= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %p.text-center
  .form-outline.mb-4
    = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
    %label.form-label{for: "loginName"} Email or username
  .form-outline.mb-4
    = f.password_field :password, autocomplete: "current-password", class:"form-control"
    %label.form-label{for: "loginPassword"} Password
  .row.mb-4
    .col-md-6.d-flex.justify-content-center
      .form-check.mb-3.mb-md-0
        = f.check_box :remember_me, class:"form-check-input"
        %label.form-check-label{for: "loginCheck"}
          Remember me
    .col-md-6.d-flex.justify-content-center
      = link_to "Forgot your password?", new_password_path(resource_name)
  = f.submit "Log in",class:" btn btn-primary btn-block mb-4"
  .text-center
    %p
      Not a member?
      %a{href: "#!"} Register